

    *{
    font-family: 'Poppins', sans-serif;
    color: #161A49;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body{
        background-color: #b9b9b9;
    }


header{
    margin: 47px 0 246px 42px;
}
.link-header{
    font-size: 14px;
font-weight: 400;
line-height: normal;
color: #17233D;
cursor: pointer;
margin-right: 32px;
}
.button-header{
    background: #6FBF44;
    border-radius: 6px;
    width: 124px;
height: 51px;
border: none;
font-size: 16px;
font-weight: 500;
line-height: normal;
color: #FFF;
cursor: pointer;
}
.logo-imagem{
    width: 585.18px;
    height: 500px;
    margin-left: 121px;
}
section{
    display: inline-block;
    margin-left: 84.98px;
}
h1{
    color: #161A49;
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
}
p{
    color: #4B505A;
    font-weight: 400;
    font-size: 18px;
line-height: 33px;
width: 493px;
margin-top: 47px;
margin-bottom: 55px;
}
.button-main{
    font-weight: 500;
line-height: 27px;
color: #ffffff;
font-size: 18px;
border: none;
border-radius: 6px;
background: #6FBF44;
width: 122px;
height: 27px;
cursor: pointer;
}